body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    color: #222;
}


header {
    background: #0077cc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}